@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

ul,
li,
ol {
    list-style: none;
}

.clear {
    overflow: hidden;
    height: 0;
    width: 0;
    clear: both;
    font-size: 0;
}

u,
i {
    font-style: normal;
    text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-weight: normal;
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
a img {
    border: none;
}

a {
    text-decoration: none;
    color: #696969;
}

a:hover {
    text-decoration: underline;
}

html,
body,
p,
table,
input,
textarea,
select {
    font: 12PX "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #696969;
    background: #e4e4e4;
    font-family: "宋体", "微软雅黑", "黑体", Verdana, Arial;
    overflow-x: hidden;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 12px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/*==========================================================*/


/* 清除浮动 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
    /* for ie6 & ie7 */
}

.position-relative {
    position: relative;
}


/*==========================================================*/

.header {
    margin: 0 auto;
    /* height: 248px; */
    position: relative;
    padding-top: 44px;
    border-top: 4px solid #000;
}

.wrap {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

.logo {
    float: left;
    margin: 0;
    display: inline;
}

.headerr {
    float: right;
    background: url(../images/top_bj.jpg) no-repeat left top;
    padding-top: 84px;
    width: 313px;
    height: 74px;
}

.nav_top {
    float: right;
    overflow: hidden;
}

.nav_top li {
    background: url(../images/nav-dot.gif) no-repeat 0 center;
    height: 16px;
    line-height: 16px;
    text-indent: 17px;
    float: left;
    margin-right: 15px;
}

.nav_top li a {
    color: #a8a8a8;
    font-weight: bold;
}

.nav_lang {
    float: right;
}

.nav_lang li {
    float: left;
    margin-left: 5px;
}

.txtarea {
    margin-left: 5px;
    border: 1px solid;
    border-color: #666 #ccc #ccc #666;
    background: #f9f9f9;
}

.search {
    float: right;
    text-align: right;
    clear: both;
}

.stxt,
.txt {
    margin-left: 5px;
    padding: 3px 2px;
    text-indent: 5px;
    text-indent: 3px;
    border: none;
}

.sselect {
    border: none;
    background: #fff;
    padding: 2px;
}

.sbtn,
.btn {
    /* cursor: pointer;
    background: #1D83DB;
    color: #fff;
    border: 1px solid #1c6a9e;
    padding: 0 8px;
    _padding: 0 4px;
    overflow: hidden;
    height: 24px;
    margin-left: 5px;
    line-height: 20px; */
    text-indent: 1000px;
    width: 18px;
    height: 18px;
    background: url(../images/sou.jpg) no-repeat;
    border: none;
    margin-left: -25px;
}

.sbtn {
    margin-right: 0;
}

.sbtn:hover,
.btn:hover {
    border-color: #3599DB;
}

.sbtn:active,
.btn:active {
    border-color: #1E71A8;
}

.nav {
    width: 100%;
    height: 42px;
    background: url(../images/mainbav.jpg) 0 0 repeat-x;
}

#nav {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 36px;
    position: relative;
    z-index: 500;
}

#nav li.top {
    display: block;
    float: left;
}

#nav li a.top_link {
    line-height: 34px;
    margin: 0px;
    height: 34px;
    font-family: "微软雅黑", "宋体";
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 0px 18px 0px 18px;
    display: block;
    overflow: hidden;
}

#nav li a.top_link span {
    float: left;
    display: block;
    padding: 0;
    height: 36px;
}

#nav li a.top_link span.down {
    float: left;
    display: block;
    padding: 0;
    height: 36px;
}

#nav li a.top_link:hover {
    color: #fff;
    background: url(../images/menubg2.gif) repeat-x;
}

#nav li a.top_link:hover span {
    background: url(../images/menubg2.gif) repeat-x;
}

#nav li a.top_link:hover span.down {
    background: url(../images/menubg2.gif) repeat-x;
}

#nav li:hover>a.top_link {
    color: #fff;
    background: url(../images/menubg2.gif) repeat-x;
}

#nav li:hover>a.top_link span {
    color: #fff;
}

#nav li:hover>a.top_link span.down {
    background: url(../images/menubg2.gif) repeat-x;
}


/* Default list styling */

#nav li:hover {
    position: relative;
    z-index: 200;
}


/* keep the 'next' level invisible by placing it off screen. */

#nav ul,
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    /* width: 0; */
    /* height: 0; */
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li:hover ul.sub {
    left: 0;
    top: 34px;
    padding: 0;
    white-space: nowrap;
    min-width: 180px;
    height: auto;
    z-index: 300;
    background: #1b1212;
}

#nav li:hover ul.sub li {
    display: block;
    height: 34px;
    line-height: 34px;
    position: relative;
    font-weight: normal;
}

#nav li:hover ul.sub li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    padding: 0 18px;
    background: #1b1212;
}

#nav li ul.sub li a.fly {
    background: #1b1212 url(../images/arrow_over.gif) no-repeat 170px;
}

#nav li:hover ul.sub li a:hover {
    background: #c00;
    color: #fff;
}

#nav li:hover ul.sub li a.fly:hover {
    background: #c00 url(../images/arrow_over.gif) no-repeat 170px;
    color: #fff;
}

#nav li:hover ul li:hover>a.fly {
    background: #c00 url(../images/arrow_over.gif) no-repeat 170px;
    color: #fff;
}

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul {
    left: 180px;
    top: 0;
    background: #fff;
    padding: 0;
    border: none;
    white-space: nowrap;
    width: 180px;
    z-index: 400;
    height: auto;
}


/* *************************************** */


/* 龙 */

.long1 {
    width: 378px;
    height: 572px;
    position: absolute;
    z-index: -12;
    left: -378px;
    top: 23px;
    background: url(../images/long1.jpg) no-repeat
}

.long2 {
    width: 245px;
    height: 580px;
    position: absolute;
    z-index: -13;
    left: 1000px;
    top: 237px;
    background: url(../images/long2.jpg) no-repeat
}

.long3 {
    width: 205px;
    height: 499px;
    position: absolute;
    z-index: -14;
    left: -205px;
    top: 935px;
    background: url(../images/long3.jpg) no-repeat
}

.long4 {
    width: 365px;
    height: 225px;
    position: absolute;
    z-index: -15;
    left: 1000px;
    top: 1370px;
    background: url(../images/long4.jpg) no-repeat
}


/* *************************************** */

.tag {
    float: left;
    width: 948px;
    background: #fafafa;
    padding: 5px;
    clear: both;
    margin-top: 10px;
    line-height: 24px;
    border: 1px solid #CCCCCC;
}

.tag a {
    padding-left: 5px;
    padding-right: 5px;
}

.font1 {
    font-size: 11px;
    color: #000099;
}

.font2 {
    font-size: 12px;
    color: #333;
}

.font3 {
    font-size: 13px;
    color: #921680;
}

.font4 {
    font-size: 14px;
    color: #123555;
}

.font5 {
    font-size: 15px;
    color: #ED9633;
}

.font6 {
    font-size: 16px;
    color: #8BKK22;
}

.font7 {
    font-size: 17px;
    color: #791315;
}

.font8 {
    font-size: 18px;
    color: #1B7221;
}

.font9 {
    font-size: 19px;
    color: #83451D;
}

.font10 {
    font-size: 20px;
    color: #1E6A93;
}

.main {
    min-height: 1530px;
    background: #fbfbfb url(../images/cen_de.jpg) no-repeat center bottom;
    padding-bottom: 40px;
}

.KSS_titleBar,
.KSS_titleBox {
    background: #d9d9d9;
    height: 30px!important;
}

.KSS_titleBox .title {
    color: #333!important;
    line-height: 30px;
}

.main-content {
    padding-top: 25px;
}

.main_left {
    width: 708px;
    float: left;
}

.main_right {
    width: 292px;
    float: left;
}

.inleft01 {
    float: left;
    height: 230px;
    width: 425px;
}

.title {
    height: 34px;
}

.intr_left {
    float: left;
    width: 225px;
    padding-left: 8px;
    padding-top: 16px;
}

.intr_left img {
    border: 3px solid #ddd;
}

.intr_right02 {
    line-height: 22px;
    color: #666666;
    padding-top: 6px;
    height: 96px;
    overflow: hidden;
}

.intr_right {
    float: left;
    width: 171px;
    padding-left: 9px;
    padding-top: 16px;
}

.inleft02 {
    float: left;
    height: 230px;
    width: 283px;
}

.inle_news {
    width: 250px;
    padding-top: 9px;
    padding-left: 10px;
    height: 160px;
    overflow: hidden;
}

.inle_news ul li {
    line-height: 26px;
    height: 26px;
    padding-left: 20px;
    background: url(../images/dian.jpg) no-repeat 8px 9px;
}

.inleft03 {
    float: left;
    height: 376px;
    width: 708px;
}

.project {
    width: 700px;
}

dl.sm {
    padding-right: 0px;
    padding-bottom: 0px;
}

dl.sm dd {
    float: left;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
}

dl.sm dd a.sp_tu {
    display: block;
    width: 188px;
    height: 132px;
    padding: 10px 10px 4px 10px;
    background: #ddd;
}

dl.sm dd a.sp_tu h4 {
    font-weight: bold;
    font-size: 12px;
    color: #666666;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inleft04 {
    float: left;
    height: 263px;
    width: 708px;
    overflow: hidden;
}

.inleft05 {
    float: left;
    height: 263px;
    width: 708px;
    overflow: hidden;
}
.inleft06 {
    float: left;
    height: 268px;
    width: 292px;
}
.inleft07 {
    float: left;
    height: 262px;
    width: 286px;
    padding-left: 6px;
}
.title02 {
    height: 32px;
    background: #e72f2f;
}
.inleft08 {
    float: left;
    height: 339px;
    width: 286px;
    padding-left: 6px;
}
.title03 {
    height: 32px;
    background: #51c443;
}
.inleft09 {
    float: left;
    height: 250px;
    width: 286px;
}

/*  */

.news {
    width: 245px;
    padding-top: 9px;
    padding-left: 25px;
    height: 210px;
    overflow: hidden
}

.news ul li {
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url(../images/xian.jpg) repeat-x center bottom
}

.baodao{ height:225px;padding-left:9px; overflow:hidden}
.baodao ul li{ height:88px; padding-top:10px;}
.baodao ul li img{ border:2px solid #dddddd}
.baodao ul li .bd_wen{ width:120px; height:88px; overflow:hidden; padding-left:7px;}
.baodao ul li .bd_wen h5 { font-size: 12px;  font-weight:bold;line-height:16px;}
.baodao ul li .bd_wen h5 a{color:#d11d1a;}
.baodao ul li .bd_wen h5 a:hover{ color:#000}
.baodao ul li .bd_wen p{ line-height:16px; padding-top:5px; font-size:12px}
.baodao ul li .bd_wen p a{ color:#666666}
.baodao ul li .bd_wen p a:hover{ color:#000}


.cpshow{ height:280px; overflow:hidden; padding-top:14px}
.cpshow ul li{ height:68px; padding-top:1px;}
.cpshow ul li a.showlist{ display:block; height:60px; width:265px; padding-top:6px;  padding-left:6px; padding-right:7px; background:url(../images/showxian.jpg) center top  repeat-x; overflow:hidden}
.cpshow ul li a.showlist img{ float:left; width:78px;}
.cpshow ul li .bd_wen{ width:167px; height:50px; overflow:hidden; padding-left:8px; float:left}
.cpshow ul li a.showlist  h6 { font-size: 12px; line-height:16px; color:#d11d1a;}
.cpshow ul li a.showlist  p{ line-height:16px; padding-top:3px; font-size:12px;color:#666666}

.cpshow ul li a.showlist:hover{ background:url(../images/showbj.jpg) no-repeat center center}
.cpshow ul li a.showlist:hover  h6 { font-size: 12px; line-height:16px; color:#d11d1a; font-weight:bold}
.cpshow ul li a.showlist:hover  p{ line-height:16px; padding-top:3px; font-size:12px;color:#333333}


.related{ height:210px; padding-top:9px}
.related ul li{ height:41px; margin-top:1px;}
.related ul li a{ float:left; height:41px; width:285px; text-indent:-10000px;}

.related ul li a.sg1{ background:url(../images/sg1_01.jpg) no-repeat}
.related ul li a.sg2{ background:url(../images/sg2_01.jpg) no-repeat}
.related ul li a.sg3{ background:url(../images/sg3_01.jpg) no-repeat}
.related ul li a.sg4{ background:url(../images/sg4_01.jpg) no-repeat}
.related ul li a.sg5{ background:url(../images/sg5_01.jpg) no-repeat}

.related ul li a:hover.sg1{ background:url(../images/sg1_02.jpg) no-repeat}
.related ul li a:hover.sg2{ background:url(../images/sg2_02.jpg) no-repeat}
.related ul li a:hover.sg3{ background:url(../images/sg3_02.jpg) no-repeat}
.related ul li a:hover.sg4{ background:url(../images/sg4_02.jpg) no-repeat}

/* 版权 */
.copyright{ line-height:21px; padding-bottom:35px; padding-top:5px}
.copyright .subnav{color:#3d4547; text-align:center}
.copyright .subnav a{color:#3d4547; }
.copyright .subnav a:hover{ color:#f00}
.copyright p{ text-align:center}
.copyright span{ color:#3d4547}
.copyright span a{color:#3d4547}
.copyright span a:hover{ color:#f00}

/* ***************************************************** */